<html>
	<head>
		<meta charset="utf-8">
		<title>Topic trends</title>
		<!-- All the imports should be here -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/series-label.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/export-data.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script src="https://code.highcharts.com/modules/wordcloud.js"></script>
		<link rel="stylesheet" href="static/style.css">
		<style>
			#myInput {
			  background-image: url('/static/icons8-search-16.png');
			  background-position: left center;
			  background-repeat: no-repeat;
			  width: 100%;
			  font-size: 16px;
			  padding: 12px 20px 12px 40px;
			  border: 1px solid #ddd;
			  margin-bottom: 12px;
			}
		</style>
	</head>

	<body>
	<!-- Navigation panel -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand">Data Science Project</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
			<!-- You can add links to more pages here as elements of this list -->
			<li class="nav-item active">
				<a class="nav-link" href="/">Main</a>
			</li>
			{%for k,v in industries.items()%}
				<div class="dropdown">
					<div  class="nav-link">{{ k[10:] }}</div>
					<div class="dropdown-content">
						{%for i in v%}
                            <a class="nav-link" href='/{{k}}_{{i}}'>{{ i[:-4] }}</a>
						{%endfor%}
					</div>
				</div>
			{%endfor%}
			</li>
			</ul>
		</div>
	</nav>

    {% block content %} {% endblock %}

	</body>
</html>
