{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
<h2> Industry trends based on the annual reports</h2>
For a consulting company like Futurice, it is important to understand emerging business trends and the market situation of client companies. </br> </br>
<h5>The task of this project:</h5> 
<li>Explore publicly available textual financial datasets using machine learning and data analysis methods</li>
<li>Create visualizations to highlight the most important trends in the data</li>
<li>Is it possible to extract market trends automatically from the published data?</li>
</br> 
<h5>Data Source:</h5>
<li><a href="https://www.sec.gov/">Edgar database</a></li>
<li>For the analysis we were using 10K reports</li>
</br>
<h5>Navigation</h5>
<li>You can find timeseries charts and wordclouds for topics for each industry in the respective tab from the dashboard</li>
<li>Industries are grouped by Offices</li>
</div>
{% endblock %}
