{% extends 'base.html' %}

{% block content %}
<!-- Main container -->
<div class="container-fluid">
    <!--Graphs have to be here-->
    <!-- k is passed from python app -->
    <!-- 		<div class="row">
        <form action="/" method="post">
            <input name="keyword" type="text" id="myInput" placeholder="Search for words...">
            <input type="submit" hidden>
        </form> -->
    </div>
    <div class="row">
        <div class="col align-self-center">
        <div id="container" my_data='{{ k }}'></div>
        <script type="text/javascript">
        Highcharts.chart('container', {
            title: {
                text: 'Topic trends 2010-2018'
            },
            subtitle: {
                text: 'Source: Edgar database'
            },
            // get the data from the container
            data: {
                csv: document.getElementById('container').attributes[1].value
            },
            yAxis: {
                title: {
                    text: 'Occurences'
                }
            },
            xAxis: {
                categories: ['2010','2011','2012','2013','2014','2015','2016','2017','2018']
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle'
            },
            plotOptions: {
                series: {
                    label: {
                        connectorAllowed: false
                    },
                    pointStart: 2010
                }
            },
            responsive: {
                rules: [{
                    condition: {
                        maxWidth: 500
                    },
                    chartOptions: {
                        legend: {
                            layout: 'horizontal',
                            align: 'center',
                            verticalAlign: 'bottom'
                        }
                    }
                }]
            }
        }); </script>
        </div>
    </div>
    <div class="row" id="wordcloud_chart" data="{{words}}">

        <script type="text/javascript">
        var elem = document.getElementById('wordcloud_chart').attributes[2].value;
        var my_st = JSON.parse(elem);
        var toAdd = document.createDocumentFragment();
        for(var i=0; i < my_st.length; i++){
           var newDiv = document.createElement('div');
           newDiv.className = 'col-'+(12/my_st.length);
           newDiv.id = 'wordcloud'+(i+1);
           toAdd.appendChild(newDiv);
        }
        document.getElementById('wordcloud_chart').appendChild(toAdd);
        const charts = [];
        for (var i = 0; i < my_st.length; ++i) {
          charts[i] = Highcharts.chart('wordcloud' + (i + 1), {
            plotOptions: {
                series: {
                    cursor: 'pointer',
                    allowPointSelect: true,
                    point: {
                        events: {
                            click: function() {
                                window.open('//www.google.com/search?q='+this.name,'_blank');
                            }
                        }
                    },
                }
            },
            series: [{
                type: 'wordcloud',
                data: my_st[i],
                name: 'Occurrences'
            }],
            title: {
                text: 'Topic ' + (i+1)
            }
        });
        }
        document.querySelectorAll('.carousel-control').forEach(button => {
          button.onclick = () => charts.forEach((chart) => setTimeout(() => chart.reflow(), 0));
        });
        </script>
    </div>
</div>
{% endblock %}
